body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("assets/table.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

main {
    flex-direction: column;
    align-content: center;
}

h1 {
    text-align: center;
}

form {
    width: 75%;
    display: flex;
    justify-content: center;
}

h4 {
    width: fit-content;
    margin-bottom: 15px !important;
}

button {
    width: 150px;
}
