{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block styles %}
    {{ super() }}
{% endblock %}

{% block main %}
{#    <h1>Flask Games</h1>#}
    {% for game in games_list %}
        <div class="card">
            <a href="{{ url_for(game.location+'.play_game') }}" class="m-auto">
                <img src="{{ game.image }}" class="card-img-top" style="" alt="" height="200px">
            </a>
            <a href="{{ url_for(game.location+'.play_game') }}"
               class="card-title pt-3 fs-4 text-center">{{ game.title }}</a>
            <div class="card-body p-1">
                <table class="table table-sm table-borderless" style="line-height: 15px">
                    <tr>
                        <th class="w-25">Info:</th>
                        <td class="w-75">{{ game.info }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}